<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder fst-italic text-warning" href="<%= breeds_path %>">Doggy Finder</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarLinks">
                <ul class="navbar-nav me-auto fw-bold text-uppercase small">
                    <li class="nav-item px-3">
                        <a class="nav-link" href="<%= breeds_path %>">Breeds</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="<%= categories_path %>">Categories</a>
                    <li class="nav-item px-3">
                        <a class="nav-link active" href="<%= about_path %>">About</a>
                    </li>
                </ul>
                <form class="d-flex" action="<%= search_breeds_path %>" method="get" accept-charset="UTF-8">
                    <input class="form-control me-2" id="firstInput" type="search" placeholder="CATEGORY">
                    <input class="form-control me-2" id="secondInput" name="keywords" type="search" placeholder="NAME">
                    <button class="btn btn-outline-success text-uppercase" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- CONTENT -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 mt-5 mb-5 border border-dark rounded-3 p-3">
                <h1 class="fst-italic fw-bold">About</h1>
                <h5 class="text-muted fst-italic">Information about the website<h5>
                <hr>
                <div class="mt-5 fs-5">
                    <p id="about">The data that I decided to use is <b><a href="https://dog.ceo/dog-api/documentation/">Dog
                        API</a></b> and <b><a href="https://github.com/faker-ruby/faker">Faker</a></b> . The data is about different types of dog breeds which the dataset
                        from DogAPI is taken from the original <b><a href="http://vision.stanford.edu/aditya86/ImageNetDogs/">Standford Dogs Dataset</a></b>.
                        It uses JSON and nested hashes for its data structure. Faker is going to be used to fill fake data for the breeds table. The required tables are <b>Categories</b> and <b>Breeds</b> where categories table
                        contains 'category_id (PK)', 'category_name', and 'breed_type'. While the breeds table will contain 'breed_id (PK)', 'category_id (FK)', 'breed_name',
                        'image_url', 'breed_type', 'breed_sound', 'breed_meme_phrase', 'breed_coat_length', and 'breed_size'.
                    </p>
                    <div class="mt-5">
                        <h4 class="mb-4"><b>Entity Relationship Diagram (ERD)</b></h4>
                        <p class="text-center"><%= image_tag 'ERD.png', class:"img-fluid" %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>